.button {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  background: #1fcdff;
  box-shadow: 0px 2px 0px 0px #179abf;
  text-transform: uppercase;
  color: #fff;
}
.content--zone__style {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
.content--card__style {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--zone--card__style {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--background__style {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: cover;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}
.list-style {
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.button--circle {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #1fcdff;
  /* opacity: .5; */
}
.input {
  background-color: #fff;
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  box-shadow: 0 2px 0 0 #ccc;
  outline: none;
  color: #343434;
  box-sizing: border-box;
  font-size: 18px;
}
.order--list li {
  width: 100%;
  background-image: none;
}
.elem--transition {
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
.use--flex {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.box--shadow__card {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*********************** Responsive Home **************************/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
#about--game {
  width: 100%;
}
#about--game #content--zone,
#about--game .content--card {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#about--game .content--background {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: cover;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  padding: 0 0 200px 0;
  margin-top: 0;
}
#about--game .content--background:last-child {
  padding: 0;
}
#about--game .content--background p,
#about--game .content--background h1 {
  text-align: center;
  padding: 0 20%;
}
#about--game #content--zone {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
#about--game #content--zone .content--card {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#about--game .content--background2 {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: cover;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin-top: 0;
}
#about--game .content--background2 p,
#about--game .content--background2 h1 {
  text-align: center;
  padding: 0 20%;
}
#about--game .content--background2 .game {
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 350px;
  display: block;
  color: black;
}
#about--game .content--background2 .game li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px 2%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: 50% 5%;
  color: #000;
}
#about--game .content--background2 .game li:nth-of-type(1) {
  background-image: url(../img/icons/rules.png);
}
#about--game .content--background2 .game li:nth-of-type(1) li {
  width: 100%;
  background-image: none;
}
#about--game .content--background2 .game li:nth-of-type(2) {
  background-image: url(../img/icons/information.png);
}
#about--game .content--background2 .game li:nth-of-type(2) li {
  width: 100%;
  background-image: none;
}
#about--game .content--background2 .game li:nth-of-type(3) {
  background-image: url(../img/icons/creative.png);
}
#about--game .content--background2 .game li:nth-of-type(3) li {
  width: 100%;
  background-image: none;
}
#about--game .content--background2 .game li p {
  font-size: 28px;
  text-align: center;
  margin-top: 130px;
}
#about--game .content--background2 video#bgvid {
  width: 150%;
  height: auto;
  margin-top: -200px;
}
@media only screen and (max-width: 1200px) {
  #about--game .content--background2 video#bgvid {
    width: 180%;
  }
}
@media only screen and (max-width: 992px) {
  #about--game .content--background2 .game {
    margin-top: 250px;
  }
  #about--game .content--background2 .game li {
    background-size: 70px 70px;
  }
  #about--game .content--background2 .game li p {
    margin-top: 80px;
    font-size: 28px;
  }
  #about--game .content--background2 video#bgvid {
    width: 190%;
  }
}
@media only screen and (max-width: 768px) {
  #about--game .content--background2 .game {
    margin-top: 265px;
  }
  #about--game .content--background2 .game li {
    width: 100%;
    text-align: center;
    background-size: 70px 70px;
  }
  #about--game .content--background2 .game li p {
    margin-top: 80px;
    font-size: 28px;
  }
  #about--game .content--background2 video#bgvid {
    width: 440%;
  }
}
@media only screen and (max-width: 480px) {
  #about--game #content--zone,
  #about--game .content--card {
    margin: -100px 0 50px 0;
  }
  #about--game .content--background {
    padding: 0 2% 100px 2%;
  }
  #about--game #content--zone {
    margin: -50px 0 50px 0;
  }
  #about--game #content--zone .content--card {
    margin: 50px auto 30px;
  }
  #about--game .content--background2 .game {
    margin-top: 265px;
  }
  #about--game .content--background2 .game li {
    width: 100%;
    text-align: center;
    background-size: 40px 40px;
  }
  #about--game .content--background2 .game li p {
    margin-top: 50px;
    font-size: 18px;
  }
  #about--game .content--background2 video#bgvid {
    width: 600%;
  }
}
#about--game .content--background2 .game li:nth-of-type(1) li {
  width: 100%;
  background-image: none;
}
#about--game .content--background2 .game li:nth-of-type(2) li {
  width: 100%;
  background-image: none;
}
#about--game .content--background2 .game li:nth-of-type(3) li {
  width: 100%;
  background-image: none;
}
/*# sourceMappingURL=about_game.css.map */