.about{
    font-family:'Avenir Next LT Pro Condensed';
    line-height:1.2;
   
    .content--background {
        .content--background__style; 
        p, h1 {
            text-align: center;
            padding: 0 20%;
        }  
        video{
            width: 100%;
            height: auto;
            margin-top:-275px;
        }
        .game{
            background-color: pink;
            position: relative;
            width:100%;

        }
    }
    #content--zone .content--card {
        display:block;
        float: left;
        margin: 100px auto 100px;
        width:100%;
        padding:0 2%;
        transform:skew(0deg,5deg);
        -ms-transform:skew(0deg,10deg);
        -webkit-transform:skew(0deg,5deg); 
        width: 100%;
        box-sizing: border-box;
        h1 {
            text-align: center;
            font-size: 2em;
            font-weight: 400;
            text-shadow: grey 0.1em 0.1em 0.2em;
        }
    }
    
    
}
