@import url('variables/colors.less');
@import url('variables/elements.less');
 

#about--game{
    width: 100%; 

    #content--zone, .content--card{
        .content--zone--card__style;
    }

    .content--background {
        .content--background__style; 
        padding:0 0 200px 0; 
        margin-top: 0;
        
        p, h1 {
            text-align: center;
            padding: 0 20%;
        }

        .games{
            padding-top: 350px;
            .games--info{
                box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);                 
                margin: 20px 0;
                padding: 10px 0;
                background-color: rgba(255,255,255,0.6);
                color: @base-color;
                p, h2 {
                    text-align: center;
                    padding: 0 2%;
                }
            }
        }
    }
    #content--zone{
        .content--zone__style;
        .content--card{
            .content--card__style; 
        } 
    }  
}



// Large Devices, Wide Screens
@media only screen and (max-width : 1200px) {
    
}

// Medium Devices, Desktops
@media only screen and (max-width : 992px) {
     #about--game{ 
        .content--background { 
            p, h1 { 
            }

            .games{ 
                 padding-top: 150px;
                .games--info{ 
                    p, h1 { 
                    }
                }
            }
        }
        #content--zone{ 
            .content--card{ 
            } 
        }  
    }
}

// Small Devices, Tablets
@media only screen and (max-width : 768px) {
      #about--game{ 
        .content--background { 
            padding: 0 0 150px 0;
            p, h1 { 
            }
            .games{ 
                .games--info{ 
                    p, h1 { 
                    }
                }
            }
        }
        #content--zone{ 
            margin: -100px 0 50px 0;
            .content--card{ 
                margin: 50px auto 30px;
            } 
        }  
    }
}

// Extra Small Devices, Phones
@media only screen and (max-width : 480px) {
    #about--game{ 
        .content--background { 
            padding: 0 0 150px 0;
            p, h1 { 
            }

            .games{ 
                 padding-top: 150px;
                .games--info{ 
                    p, h1 { 
                    }
                }
            }
        }
        #content--zone{ 
            margin: -100px 0 50px 0;
            .content--card{ 
                margin: 50px auto 30px;
            } 
        }  
    }
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {
    #about--game{ 
        .content--background { 
            padding: 0 0 150px 0;
            p, h1 { 
            }

            .games{ 
                 padding-top: 300px;
                .games--info{ 
                    p, h1 { 
                    }
                }
            }
        }
        #content--zone{ 
            .content--card{ 
            } 
        }  
    }
}
 