.button {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  background: #1fcdff;
  box-shadow: 0px 2px 0px 0px #179abf;
  text-transform: uppercase;
  color: #fff;
}
.content--zone__style {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
.content--card__style {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--zone--card__style {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--background__style {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
}
.list-style {
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.button--circle {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #1fcdff;
  /* opacity: .5; */
}
.input {
  background-color: #fff;
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  box-shadow: 0 2px 0 0 #ccc;
  outline: none;
  color: #343434;
  box-sizing: border-box;
  font-size: 18px;
}
.order--list li {
  width: 100%;
  background-image: none;
}
.elem--transition {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.element--transition__ul {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.use--flex {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.box--shadow__card {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*********************** Responsive Home **************************/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
#gallery {
  width: 100%;
}
#gallery #content--zone,
#gallery .content--card {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#gallery .content--background {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
  padding: 0 0 200px 0;
  margin-top: 0;
}
#gallery .content--background p,
#gallery .content--background h1 {
  text-align: center;
  padding: 0 20%;
}
#gallery #content--zone {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
#gallery #content--zone .content--card {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto ;
}
#gallery #content--zone .content--card .room--gallery {
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 1%;
  box-sizing: border-box;
}
#gallery #content--zone .content--card .room--gallery .room--gallery__image {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
#gallery #content--zone .content--card .room--gallery .room--gallery__image h2 {
  font-size: 24px;
  font-weight: 200;
  line-height: 2;
  text-transform: uppercase;
}
#gallery #content--zone .content--card .room--gallery .room--place img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
#gallery #content--zone .content--card .room--gallery .room--place img:hover {
  opacity: 1;
}
#gallery #content--zone .content--card .room--gallery .room--place .room--place__number {
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: -50px;
  margin-bottom: 30px;
  background: #1fcdff;
  color: #fff;
}
#gallery #content--zone .content--card .room--gallery .room--place .room--place__number p {
  text-align: center;
}
div#lightbox_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}
div#lightbox_container {
  position: absolute;
  z-index: 10;
}
div#lightbox_container img {
  width: 50%;
  margin-left: 25%;
}
/*********************** Responsive Home **************************/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #gallery #content--zone .content--card .room--gallery .room--place img {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place img:hover {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place .room--place__number p {
    line-height: 1.2;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #gallery #content--zone .content--card .room--gallery .room--place img {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place img:hover {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place .room--place__number p {
    line-height: 2;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #gallery #content--zone {
    margin: -150px 0 50px 0;
  }
  #gallery #content--zone .content--card {
    margin: 50px auto;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #gallery #content--zone {
    margin: -150px 0 50px 0;
  }
  #gallery #content--zone .content--card {
    margin: 50px auto;
  }
  #gallery #content--zone .content--card .room--gallery .room--place img {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place img:hover {
    opacity: 1;
  }
  #gallery #content--zone .content--card .room--gallery .room--place .room--place__number p {
    line-height: 2;
  }
}
/* Custom, iPhone Retina */
/*# sourceMappingURL=gallery.css.map */