@import url('variables/colors.less');
@import url('variables/elements.less');
header {
    width: 100%;
    height: auto;

    .content--background {
        background-image:url( "../img/structure/index-background-header.jpg");
        height: auto;
        width:100%;
        background-size:cover;
        position:relative;
        padding:0 2% 200px 2%;
        box-sizing: border-box;
        color: @base-color-second;
        background-attachment: fixed;

        .content--message {
            width: 25%;
            margin: 0 auto;

            h1 {
                font-size: 4.2em;
                margin: 18% 0;
                border-bottom: 4px solid @pallete-color-blue;
                text-align: center;
                font-weight: 800;
            }
        }

        .content--menu {
            padding-top: 5%;
            width: 100%;
            display: inline-block;

            .content--menu__logo {
                float: left;

                a {
                    cursor: pointer;

                    img {
                        width: 250px;
                    }
                }
            }

            .content--menu__menu {
                float: right;
            }
        }
    }
}


/*********************** Responsive Header **************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    header .content--background {
        .content--menu {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .content--message {
            width: 40%;

            h1 {
                font-size: 3.2em;
                border-bottom: 3px solid @pallete-color-blue;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header {
        .content--background {
            .content--menu {
                .content--menu__logo a img {
                    width: 200px;
                }
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        .content--background {
            .content--menu {
                background-color: rgba(0,0,0,0.4);

                .content--menu__logo a img {
                    width: 200px;
                }
            }

            .content--message {
                width: 45%;

                h1 {
                    font-size: 3em;
                    border-bottom: 2px solid @pallete-color-blue;
                }
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    header {
        .content--background {

            .content--message {
                width: 50%;

                h1 {
                    font-size: 2.5em;
                    margin: 25% 0;
                }
            }
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    header .content--background {
        .content--menu {

            .content--menu__logo a img {
                width: 144px;
            }

            .content--menu__menu img {
                margin-top: 4px;
            }
        }

        .content--message {
            width: 60%;

            h1 {
                font-size: 2em;
                margin: 40% 0;
            }
        }
    }
}