@import url('variables/colors.less');
@import url('variables/elements.less');
#home {
    width: 100%;
    height: auto;

    #content--zone .content--card {
        display: block;
        float: left;
        margin: 100px auto 100px;
        width: 100%;
        padding: 0 2%;
        transform: skew(0deg, 5deg);
        -ms-transform: skew(0deg, 10deg);
        -webkit-transform: skew(0deg, 5deg);
        width: 100%;
        box-sizing: border-box;
    }

    #content--zone {
        z-index: 1;
        display: block;
        float: left;
        margin: -100px 0 100px 0;
        width: 100%;
        background: @pallete-color-grey;
        transform: skew(0deg, -10deg);
        -ms-transform: skew(0deg, -10deg); /* IE 9 */
        -webkit-transform: skew(0deg, -5deg); /* Safari and Chrome */
    }

    .content--card {

        h1 {
            text-align: center;
            font-size: 2em;
            font-weight: 400;
            text-shadow: @pallete-color-grey 0.1em 0.1em 0.2em;
        }
    }
}