.clearfix {
	clear: both;  
}
 
body {
    background-image: url(../../img/structure/background.jpg);   
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
    color: @basecolor;
    input {
    	color: @basecolor;
    }
}

h2 {
  text-align: center;
  font-size: 25px;
  color: @basecolor;
  font-weight: bold; 
  margin: 30px 0 10px 0;
}

::-webkit-input-placeholder {
   color: @basecolor;
}

:-moz-placeholder { /* Firefox 18- */
   color: @basecolor;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @basecolor;  
}

:-ms-input-placeholder {  
   color: @basecolor;  
}

@import url("fonts.less");
@import url("variable/colors.less");

@import url("header.less"); 
@import url("persons.less");
@import url("moneySpent.less"); 
@import url("party.less"); 
@import url("gains.less");
@import url("costs.less");
@import url("footer.less");
 