.button {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  background: #1fcdff;
  box-shadow: 0px 2px 0px 0px #179abf;
  text-transform: uppercase;
  color: #fff;
}
.content--zone__style {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
.content--card__style {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--zone--card__style {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--background__style {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
}
.list-style {
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.button--circle {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #1fcdff;
  /* opacity: .5; */
}
.input {
  background-color: #fff;
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  box-shadow: 0 2px 0 0 #ccc;
  outline: none;
  color: #343434;
  box-sizing: border-box;
  font-size: 18px;
}
.order--list li {
  width: 100%;
  background-image: none;
}
.elem--transition {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.element--transition__ul {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.use--flex {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.box--shadow__card {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*********************** Responsive Home **************************/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
#joker--rezervari {
  width: 100%;
}
#joker--rezervari #content--zone,
#joker--rezervari .content--card {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#joker--rezervari .content--background {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
  padding: 0 0 200px 0;
  margin-top: 0;
}
#joker--rezervari .content--background p,
#joker--rezervari .content--background h1 {
  text-align: center;
  padding: 0 20%;
}
#joker--rezervari #content--zone {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
#joker--rezervari #content--zone .content--card {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#joker--rezervari #content--zone .content--card .reservation-zone {
  width: 80%;
  margin: 0 auto;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar {
  display: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  opacity: 0.5;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar thead {
  padding: 10px 0;
  background-color: red;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar thead tr th {
  background-color: #F33157;
  padding: 20px 0;
  width: 50%;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar thead tr th:first-child {
  background-color: #1fcdff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar tbody tr a {
  cursor: pointer;
  width: auto;
  height: auto;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar tbody tr:nth-of-type(odd) {
  background-color: #e6e6e6;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar tbody tr td {
  padding: 10px;
}
#joker--rezervari #content--zone .content--card .reservation-zone #calendar tbody tr .room-state {
  background-color: #64D864;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker {
  width: 100%;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  margin: 0 auto;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker a.ui-state-default.ui-state-active {
  background-color: #1fcdff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-widget-content {
  bborder: 1px solid #aaaaaa;
  color: #1fcdff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-widget-header {
  color: #343434;
  background: #343434;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker a.ui-state-default {
  border: 1px solid #d3d3d3;
  background: #343434 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #fff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  background-color: #1fcdff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker .ui-datepicker-prev:hover,
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker .ui-datepicker-next:hover,
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-state-over:hover {
  background-color: #1fcdff;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker-next-hover,
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker-prev-hover {
  background: red;
  border: 0;
}
#joker--rezervari #content--zone .content--card .reservation-zone #datepicker .ui-datepicker-next-hover {
  background-size: 20px 20px;
}
#joker--rezervari #online--booking {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 0;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#joker--rezervari #online--booking input,
#joker--rezervari #online--booking select {
  width: 80%;
  padding: 0 20px;
  margin: 10px 10%;
  border-top-right-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 0px 0px #ccc;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  box-shadow: 0 2px 0 0 #ccc;
  outline: none;
  color: #343434;
  box-sizing: border-box;
  font-size: 18px;
}
/*# sourceMappingURL=joker__room-rezervari.css.map */