@import url('variables/colors.less');
@import url('variables/elements.less');

#joker--rezervari {	
  width: 100%; 

    #content--zone, .content--card{
        .content--zone--card__style;
    }

    .content--background {
        .content--background__style;
        padding:0 0 200px 0; 
        margin-top: 0;
        
        p, h1 {
            text-align: center;
            padding: 0 20%;
        }

       
    }
    #content--zone{
        .content--zone__style;
        .content--card{
            .content--card__style; 
            .reservation-zone{  
                width: 80%;
                margin: 0 auto;

                #calendar{
                    display: none;
                    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                    width: 60%; 
                    max-width: 460px;
                    // border: 1px solid black;
                    margin: 20px auto;
                    text-align: center;
                    opacity: 0.5; 
                    thead{
                        // border: 1px solid black;
                        padding: 10px 0;
                        background-color: red;
                        tr{
                            th {
                                
                                background-color: @red-background;
                                padding: 20px 0;
                                width: 50%;
                                &:first-child { 
                                    background-color: @pallete-color-blue;
                                }
                            }
                        }
                    }
                    tbody{
                        // border: 1px solid black;
                        tr{
                            opacity: 0.7;    
                             cursor: pointer;
                            // border: 1px solid black;
                            &:nth-of-type(odd) {
                                background-color: @input-color-dark;
                            }
                            .room-hour{
                                padding: 10px; 
                            } 
                            .room-state{
                                 background-color: @green-background;
                            }
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                } 
                
            }


            #online--booking{
                width: 420px;
                height: 400px;
                // background-color: @input-color-dark;
                border-radius: 5px;
                margin: 0 auto;
                padding: 20px 0;
                box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                display: none;
               
                input, select{
                    width: 80%;
                    box-sizing: border-box;
                    padding: 0 20px;
                    margin: 10px 10%; 
                    box-sizing: border-box; 
                    border-top-right-radius: 10px; 
                    background-color: @input--color;
                    outline: none;
                    box-shadow: 0px 2px 0px 0px @shadow-form; 
                    border: 1px solid @shadow-form;
                    .input;

                }

                input{

                }

                select {

                }
                
                button.btn-system {            
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    text-decoration: none;
                    padding: 13px;
                    padding-right: 50px;
                    padding-left: 50px;
                    font-weight: bold;
                    font-size: 18px;
                    margin: 80px 10% 0 10%;
                    border: 0;
                    outline: none;
                    .button;
                    width: 80%;
                    &:hover {
                        background-color: @pallete-color-blue-hover;
                        box-shadow: 0px 2px 0px 0px @pallete-color-darkblue-hover;
                    }
             
                }
            } 
        } 
    }  
} 

