@import url('variables/colors.less');
@import url('variables/elements.less');

#joker--preturi {	
  width: 100%; 

    #content--zone, .content--card{
        .content--zone--card__style;
    }

    .content--background {
        .content--background__style;
        padding:0 0 200px 0; 
        margin-top: 0;
        
        p, h1 {
            text-align: center;
            padding: 0 20%;
        }

       
    }
    #content--zone{
        .content--zone__style;
        .content--card{
            .content--card__style; 
            .voucher{ 
            	padding: 20px 0;
                width: 60%;
                margin: 0 auto; 
                p{
                	text-align: center;
                }
            }
            .reduceri {
            	padding: 20px 0;
                width: 60%;
                margin: 0 auto;
                p{
                	text-align: center;
                }
            }

            .lista--preturi {
            	background-color: blue;
            	width: 60%;
            	margin: 0 auto;
            	.pret--normal{
            		margin: 2%;
	            	background-color: yellowgreen;
	        	    box-sizing: border-box;
				    float: left;
				    width: 46%;
	                ul {
						box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	                    li{
	                    	text-align: center;
	                    	padding: 10px 0;
	                    	background-color: #f9f9f9;
	                    	
	                    	&:nth-of-type(odd){
	                    		background-color: #e6e6e6;
	                    	}
	                    	&:first-child {
	                    		font-weight: bold;
	                    		background-color: #1fcdff;
	                    		padding: 20px;
	                    	}
	                    }
	                }
	            }

	            .happy--hour{
	            	margin: 2%;
	            	background-color: red;
	        	    box-sizing: border-box;
				    float: left;
				    width: 46%;
	                ul{
						box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	                    li{
	                    	text-align: center;
	                    	padding: 10px 0;
	                    	background-color: #f9f9f9;
	                    	
	                    	&:nth-of-type(odd){
	                    		background-color: #e6e6e6;
	                    	}

	                    	&:first-child {
	                    		font-weight: bold;
	                    		background-color: #F33157;
	                    		padding: 20px;
	                    		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	                    	}

	                    }
	                }
	            }
            }
        } 
    }  
}