.button {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  background: #1fcdff;
  box-shadow: 0px 2px 0px 0px #179abf;
  text-transform: uppercase;
  color: #fff;
}
.content--zone__style {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
.content--card__style {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--zone--card__style {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
.content--background__style {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
}
.list-style {
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.button--circle {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #1fcdff;
  /* opacity: .5; */
}
.input {
  background-color: #fff;
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  box-shadow: 0 2px 0 0 #ccc;
  outline: none;
  color: #343434;
  box-sizing: border-box;
  font-size: 18px;
}
.order--list li {
  width: 100%;
  background-image: none;
}
.elem--transition {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.element--transition__ul {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.use--flex {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.box--shadow__card {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*********************** Responsive Home **************************/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
#joker--preturi {
  width: 100%;
}
#joker--preturi #content--zone,
#joker--preturi .content--card {
  display: block;
  float: left;
  margin: 100px auto 100px;
  padding: 0 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#joker--preturi .content--background {
  background-image: url(../img/structure/index-background-content2.jpg);
  height: auto;
  width: 100%;
  background-size: inherit;
  position: relative;
  padding: 0 2% 200px 2%;
  box-sizing: border-box;
  color: #fff;
  background-attachment: fixed;
  background-attachment: device-fixed;
  background-position: center;
  padding: 0 0 200px 0;
  margin-top: 0;
}
#joker--preturi .content--background p,
#joker--preturi .content--background h1 {
  text-align: center;
  padding: 0 20%;
}
#joker--preturi #content--zone {
  z-index: 5;
  position: relative;
  display: block;
  float: left;
  margin: -100px 0 100px 0;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -5deg);
  /* IE 9 */
  -webkit-transform: skew(0deg, -5deg);
  /* Safari and Chrome */
}
#joker--preturi #content--zone .content--card {
  display: block;
  float: left;
  margin: 100px auto 80px;
  padding: 2%;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  width: 100%;
  box-sizing: border-box;
}
#joker--preturi #content--zone .content--card .voucher,
#joker--preturi #content--zone .content--card .reduceri {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
#joker--preturi #content--zone .content--card .voucher p,
#joker--preturi #content--zone .content--card .reduceri p {
  text-align: center;
}
#joker--preturi #content--zone .content--card .lista--preturi {
  width: 80%;
  margin: 0 auto;
}
#joker--preturi #content--zone .content--card .lista--preturi .happy--hour,
#joker--preturi #content--zone .content--card .lista--preturi .pret--normal {
  margin: 2%;
  background-color: red;
  box-sizing: border-box;
  float: left;
  width: 46%;
}
#joker--preturi #content--zone .content--card .lista--preturi .happy--hour ul,
#joker--preturi #content--zone .content--card .lista--preturi .pret--normal ul {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#joker--preturi #content--zone .content--card .lista--preturi .happy--hour ul li,
#joker--preturi #content--zone .content--card .lista--preturi .pret--normal ul li {
  text-align: center;
  padding: 10px 0;
  background-color: #f9f9f9;
}
#joker--preturi #content--zone .content--card .lista--preturi .happy--hour ul li:nth-of-type(odd),
#joker--preturi #content--zone .content--card .lista--preturi .pret--normal ul li:nth-of-type(odd) {
  background-color: #e6e6e6;
}
#joker--preturi #content--zone .content--card .lista--preturi .pret--normal ul li:first-child {
  font-weight: bold;
  background-color: #1fcdff;
  padding: 20px;
}
#joker--preturi #content--zone .content--card .lista--preturi .happy--hour ul li:first-child {
  font-weight: bold;
  background-color: #F33157;
  padding: 20px;
}
/*********************** Responsive preturi **************************/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #joker--preturi #content--zone,
  #joker--preturi .content--card {
    display: block;
    float: left;
    margin: 100px auto 100px;
    padding: 0 2%;
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
    width: 100%;
    box-sizing: border-box;
  }
  #joker--preturi .content--background {
    background-image: url(../img/structure/index-background-content2.jpg);
    height: auto;
    width: 100%;
    background-size: inherit;
    position: relative;
    padding: 0 2% 200px 2%;
    box-sizing: border-box;
    color: #fff;
    background-attachment: fixed;
    background-attachment: device-fixed;
    background-position: center;
    padding: 0 0 150px 0;
  }
  #joker--preturi #content--zone {
    z-index: 5;
    position: relative;
    display: block;
    float: left;
    margin: -100px 0 100px 0;
    width: 100%;
    background: #fff;
    transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -5deg);
    /* IE 9 */
    -webkit-transform: skew(0deg, -5deg);
    /* Safari and Chrome */
    margin: -100px 0 50px 0;
  }
  #joker--preturi #content--zone .content--card {
    display: block;
    float: left;
    margin: 100px auto 80px;
    padding: 2%;
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
    width: 100%;
    box-sizing: border-box;
    margin: 50px auto 30px;
  }
  #joker--preturi #content--zone .content--card .lista--preturi .happy--hour,
  #joker--preturi #content--zone .content--card .lista--preturi .pret--normal {
    margin: 0 auto;
    float: none;
    width: 340px;
    margin-top: 20px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #joker--preturi #content--zone,
  #joker--preturi .content--card {
    display: block;
    float: left;
    margin: 100px auto 100px;
    padding: 0 2%;
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
    width: 100%;
    box-sizing: border-box;
  }
  #joker--preturi .content--background {
    background-image: url(../img/structure/index-background-content2.jpg);
    height: auto;
    width: 100%;
    background-size: inherit;
    position: relative;
    padding: 0 2% 200px 2%;
    box-sizing: border-box;
    color: #fff;
    background-attachment: fixed;
    background-attachment: device-fixed;
    background-position: center;
    padding: 0 0 150px 0;
  }
  #joker--preturi #content--zone {
    z-index: 5;
    position: relative;
    display: block;
    float: left;
    margin: -100px 0 100px 0;
    width: 100%;
    background: #fff;
    transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -5deg);
    /* IE 9 */
    -webkit-transform: skew(0deg, -5deg);
    /* Safari and Chrome */
    margin: -100px 0 50px 0;
  }
  #joker--preturi #content--zone .content--card {
    display: block;
    float: left;
    margin: 100px auto 80px;
    padding: 2%;
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
    width: 100%;
    box-sizing: border-box;
    margin: 50px auto 30px;
  }
  #joker--preturi #content--zone .content--card .lista--preturi {
    width: 100%;
  }
  #joker--preturi #content--zone .content--card .lista--preturi .happy--hour,
  #joker--preturi #content--zone .content--card .lista--preturi .pret--normal {
    margin: 0 auto;
    float: none;
    width: 280px;
    margin-top: 20px;
  }
}
/* Custom, iPhone Retina */
/*# sourceMappingURL=joker__room-preturi.css.map */