<!--about-->
<div class="about">
    <div class="content--background">
        <h1>About game</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies congue metus, sed aliquam nibh pharetra vel. Cras sollicitudin scelerisque justo, non tincidunt nulla. Pellentesque nec neque sed augue rhoncus eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed fermentum nisi. Duis ac elementum nunc. Nam maximus lobortis magna rhoncus cursus. Nullam a fringilla diam. Vivamus ut nisi libero. Nam in mauris at nulla ullamcorper rhoncus eu id massa. Morbi feugiat aliquet sem, non eleifend enim faucibus eu.</p>
        <br>
        
        
        <div class="line"></div>
       <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" loop>
            <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
            <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
        </video>
        
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<!--    <div id="content--zone">
        <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
            <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
            <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
        </video>
        <div class="content--card">
            <div class="boxs">   
                <div class="box_element">set</div>
                <div class="box_element">up</div>
                <div class="box_element">go</div>
            </div>
        </div>

    </div>
    <div class="content--background">
        <h1>About game</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies congue metus, sed aliquam nibh pharetra vel. Cras sollicitudin scelerisque justo, non tincidunt nulla. Pellentesque nec neque sed augue rhoncus eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed fermentum nisi. Duis ac elementum nunc. Nam maximus lobortis magna rhoncus cursus. Nullam a fringilla diam. Vivamus ut nisi libero. Nam in mauris at nulla ullamcorper rhoncus eu id massa. Morbi feugiat aliquet sem, non eleifend enim faucibus eu.</p>
        <br>
    </div>-->
</div>
    <!--about_end-->    