<section id="about--game"> 
    <div class="content--background">
        <h1>about game </h1>
       
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div> 

    <div class="content--background2"> 
         <ul class="game"> 
            <li class="rules"><p>Reguli</p> 
                 <ol> 
                    <li>Esti inchis intr-o camera. Ai o ora si o misiune: Trebuie sa evadezi! </li>
                    <li>Observa imprejurarile, rezolva indicii si creaza conexiuni.</li>
                    <li>Descopera misterul ascuns, gaseste cheia finala si evadeaza.</li>
                </ol>
            </li>
            <li class="advice"><p>Sfaturi</p>
                 <ol> 
                    <li>Comunică, împărtăşeşte ceea ce ai aflat!</li>
                    <li>Nu sta într-un singur loc! Tine minte ca indiciile sunt împrăştiate in întreaga camera. Muta, atinge, trage, întoarce si deschide cat mai multe lucruri pentru a găsi indiciile.</li>
                    <li>Lăsa si pe altcineva sa încerce! </li>
                </ol>
            </li>
            <li class="creative"><p>Fii creativ</p>
                 <ol> 
                    <li>Aventurile escape room sunt activitaţi desfasurate pe baza lucrului in echipe unde participanţii trebuie sa se bazeze unul pe altul, sa comunice si sa isi arate geniul creativ pentru a evada dintr-o camera. </li>
                    <li>Participanţii acestui joc trebuie sa utilizeze spiritul lor de echipa, inteligenta si determinarea pentru a gasi indicii, rezolva puzzle-uri in scopul evadarii dintr-o camera inchisa, in maxim 60 de minute.</li> 
                </ol>
            </li>
        </ul> 
        <video autoplay="" loop="" poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid">
            <source src="../assets/img/structure/background--video.webm" type="video/webm">
            <source src="../assets/img/structure/background--video.mp4" type="video/mp4">
        </video> 
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  </p>
        </div>
    </div> 
</section>

