<section id="about--game"> 
    <div class="content--background">
        <h1>about game </h1> 
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div> 

    <div class="content--background">
       <div class="games">
          
             <div class="games--info">
                <h2>asdasdas</h2>
                <p>asdasdas dsa das das dasd </p>
                <p> e dedesupt  ceva de umpluturaeva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutu intre </p>
           </div>
           <div class="games--info">
                <h2>asdasdas</h2>
                <p>asdasdas dsa das das dasd </p>
                <p> e dedesupt  ceva de umplutura eva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutuintre </p>
           </div>
           <div class="games--info">
                <h2>asdasdas</h2>
                <p>asdasdas dsa das das dasd </p>
                <p> e dedesupt  ceva de umeva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutuplutura intre </p>
           </div>
       </div>
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  ceva de umplutura intre sectiundea de about game si ce e dedesupt  </p>
        </div>
    </div> 
</section>

