<section id="contact">
	<div class="content--background">
		<h1>Contact </h1>
		<p>  Pentru orice nelamurire si informatii, nu ezitati sa ne contactati !</p>
	</div> 
	<div id="content--zone">
	    <div class="content--card">
	         
	        <form class="contacts">
	        	<div class="form--contact">
	        		<span>Formular de contact</span> 
	        		<input name="sender" placeholder="Nume Prenume">
	        		 <input name="senderEmail" placeholder="Adresa Email ">
	        		 <textarea rows="5" cols="20" name="message" placeholder="Mesajul dumneavoastra"></textarea>
	        	</div>

	        	<div class="form--personal">
	        		<span>Informatii Personale</span>
	        		<ul class="form--personal__infos">
			 			<li>Nume:<span>Andrei asdasda</span> </li>
			 			<li>Adresa: <span>5512 Lorem Ipsum Vestibulum 666/13</span></li>
			 			<li>Emai: <span>mail@compname.com</span></li>
			 			<li>Telefon:<span> +1 800 789 50 12, +1 800 450 6935</span></li>
			 			<li><a href="#">Facebook</a></li>
			 			<li><a href="#">Twitter</a></li>
			 			<li><a href="#">Youtube</a></li>
			 		</ul> 
	        	</div>
	        </form>

	        <div class="clearfix"></div>
	        <br/> 
	    </div>
	</div>
	<div class="contact--map">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2712.1456369461503!2d27.57959291561558!3d47.17458507915841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb62998cdf13%3A0x26d5f804a8c9103a!2zU3RyYWRhIFPEg3LEg3JpZSwgSWHImWk!5e0!3m2!1sro!2sro!4v1453802508015" allowfullscreen></iframe>
    </div>

	<div id="content--zone">
	    <div class="content--card"> 
	    </div>
	</div>


</section>


