<h2> Cheltuieli & Castiguri </h2> 
<table id="allCosts">
 	 <thead>
 		
 	</thead>

 	<tbody>
 		<tr>
 			<td> Total Profit dupa petrecere	</td>
 			<td  id="profit"> <span> Lei</span></td>
 		</tr>
 		<tr>
 			<td> Total cheltuieli	</td>
 			<td  id="costsTotal"> <span> Lei</span></td>
 		</tr>   
 	</tbody>
</table> 