<div class="content--background">
	<h1>Title </h1>
		<p>  title description minimal</p>
</div>


<div id="content--zone">
    <div class="content--card">
         
        <p>continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune continut pt sectiune </p>

    </div>
</div>
