<footer>  
	<div class="content--background">
		<h1>Aboneaza-te! </h1>
		<p> Vrei sa afli ultimele noutati? Inscrie-te cu adresa de email si vei primi mesaje cu gratuitati si reduceri! te asteptam! </p>
		<br>
		<div class="newsletter">
			<input type="email" id="emailID"  class="email" name="Email" placeholder="Email"/>
			<a href="#" class="subscribe" onclick="sendemail()"> Subscribe</a>		
		</div>


		<div class="content--card"> 
	 		<ul class="socials">
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 		</ul>
	  	</div>
	</div> 
	<div class="footer--submenu">
	<!-- 	<ul class="submenu">
 			<li><a href="#about_game">Despre Joc</a></li>
 			<li><a href="#rooms">Camere</a></li> 
 			<li><a href="#gallery">Galerie</a></li>
 			<li><a href="#contact">Contact</a></li>
 		</ul>  -->
 		<p>Copyright © 2016 . All Rights Reserved.</p>
	</div> 



	<script type="text/javascript">	
	</script>


</footer> 