<footer> 
	<div class="content--background">
		<h1>Subscribe for Our Newsletter! </h1>
		<p> Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from Skew. Stay always up-to-date! </p>
		<br>
		<div class="newsletter">
			<input class="email" name="Email" placeholder="Enter Your Email">
			<a href="#" class="subscribe">Subscribe</a>		
		</div>
		<div class="content--card"> 
	 		<ul class="socials">
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 			<li><a href="#"></a></li>
	 		</ul>
	  	</div>
	</div> 
	<div class="footer--submenu">
		<ul class="submenu">
 			<li><a href="#">Home</a></li>
 			<li><a href="#">Despre Joc</a></li>
 			<li><a href="#">Camere</a></li>
 			<li><a href="#">Preturi</a></li>
 			<li><a href="#">Galerie</a></li>
 			<li><a href="#">Contact</a></li>
 		</ul> 
 		<p>Copyright © 2014 Boyz. All Rights Reserved.</p>
	</div> 
</footer> 