<h2> Castiguri </h2> 
<table id="gainsCash">
 	 <thead>
 		<tr>
			<th>Bani Primiti</th>
			<th class="all" id="gains"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody> 
 		<tr>
 			<td>De la Parinte</td>
 			<td><input class="gainsParents" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>De la Nas	</td>
 			<td><input class="gainsGodparents" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> De la ruda </td>
 			<td><input class="gainsFamily" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td> De la  prieten</td>
 			<td><input class="gainsFriend" type="text" placeholder="enter number" /></td>
 		</tr>  
 		
 	</tbody>
</table> 


 
 