<section id="gallery"> 
    <div class="content--background">
        <h1>Hall Of Fame </h1> 
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
            <div class="room--gallery">  
                <div class="room--gallery__image"> 
                    <h2>Camera Joker</h2>
                </div>
                <div class="room--place">  
                    <a href="assets/img/room/joker/place1.jpg" class="lightbox"> 
                        <img src="assets/img/room/joker/place1.jpg"/>  
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 1 </p></div>
                </div>
                <div class="room--place">  
                    <a href="assets/img/room/joker/place2.jpg" class="lightbox"> 
                        <img src="assets/img/room/joker/place2.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 2 </p></div>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/joker/place3.jpg" class="lightbox">
                        <img src="assets/img/room/joker/place3.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 3 </p></div>
                </div>     
            </div>

            <div class="room--gallery">  
                <div class="room--gallery__image"> 
                    <h2>Camera batman</h2>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/batman/place1.jpg" class="lightbox">
                        <img src="assets/img/room/batman/place1.jpg"/>  
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 1 </p></div>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/batman/place2.jpg" class="lightbox">
                        <img src="assets/img/room/batman/place2.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 2 </p></div>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/batman/place3.jpg" class="lightbox">
                        <img src="assets/img/room/batman/place3.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 3 </p></div>
                </div>     
            </div>

            <div class="room--gallery">  
                <div class="room--gallery__image"> 
                    <h2>Camera simpson</h2>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/simpson/place1.jpg" class="lightbox">
                        <img src="assets/img/room/simpson/place1.jpg"/>  
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 1 </p></div>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/simpson/place2.jpg" class="lightbox">
                        <img src="assets/img/room/simpson/place2.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 2 </p></div>
                </div>
                <div class="room--place">   
                    <a href="assets/img/room/simpson/place3.jpg" class="lightbox">
                        <img src="assets/img/room/simpson/place3.jpg"/> 
                    </a>
                    <div class="room--place__number"> <p> castigatori locul 3 </p></div>
                </div>     
            </div> 
        </div>
    </div>   
</section>
