<header>
    <div class="content--background">
        <div id="fixed--menu" class="content--menu f-nav">
            <div class="content--menu__logo">
                <a href="#"><img src="assets/img/structure/ZLOGO4.png"/></a>
            </div>
            <div class="content--menu__menu">
                <img src="../../assets/img/icons/menu.png"/>
                {{> navigation}}
            </div>
            {{> navigation}}
        </div>
        <div class="content--message">
            <h1>We discuss.</h1>
         </div>
    </div>
    <div class="clearfix"></div>
</header>