<header>
    <div class="content--background">
        <div class="content--menu">
            <div class="content--menu__logo">
                <a href="#"><img src="assets/img/structure/logo.png"/></a>
            </div>
            <div class="content--menu__menu">
                {{> navigation}}
            </div>
        </div>

    </div>

    &lt;!&ndash; <div class="clearfix"> &ndash;&gt;

    <div id="content--zone">
        <div class="content--card">
            <ul class="socials">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>

    <div class="footer--submenu">
        <p>Copyright © 2014 Timber HTML Template. All Rights Reserved.</p>
    </div>
</header>