<div id="home">
    {{> header}}
    <div id="content--zone">
        <div class="content--card">
            halohahalohahalohahalohahalohahalohahalohahalohahalohahalohahalohahalohahalohahalohahaloha
        </div>
    </div>
</div>