<section id="joker--rezervari">   
     <div class="content--background">
        <h1>Rezervari </h1> 
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  tabel de rezervariiiiiii  </p>
        </div>
    </div> 
</section>

