<section id="joker--preturi">   
     <div class="content--background">
        <h1>Preturi </h1> 
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
             <p> tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi  tabel cu preturi </p>
        </div>
    </div> 
</section>

