<section id="joker--rezervari">   
     <div class="content--background">
        <h1>Rezervari </h1> 
    </div> 

    <div id="content--zone">
        <div class="content--card">  
        	<div class="reservation-zone">
        		 <div id="datepicker"> 

	            </div>

	            <table id="calendar" >
	            	 <thead>
					    <tr>
					      <th>Ora</th>
					      <th>Status camera</th>
					    </tr>
					  </thead> 

					  <tbody>
					     <tr> 
							<td value="hour" class="room-hour">21-22 </td>
							<td value"liber" class="room-state"> LIBER </td> 
					    </tr>
					     <tr> 
							<td value="hour" class="room-hour">21-22 </td>
							<td value"liber" class="room-state"> LIBER </td> 
					    </tr>
					     <tr> 
							<td value="hour" class="room-hour">21-22 </td>
							<td value"liber" class="room-state"> LIBER </td>  
					    </tr>
					     <tr> 
							<td value="hour" class="room-hour">21-22 </td>
							<td value"liber" class="room-state"> LIBER </td> 					   
						</tr>	 
					     <tr> 
							<td value="hour" class="room-hour">21-22 </td>
							<td value"liber" class="room-state"> LIBER </td> 
					    </tr>
					  </tbody> 
	            </table>  
	        </div> 
        	<div id="online--booking"> 
				<input type="text" name="name" id="name" value ="" placeholder="Nume si Prenume">
					<br/>				
				<input type="text" name="name" id="name" value ="" placeholder="Telefon">
					<br/>				
				<input type="text" name="name" id="name" value ="" placeholder="Adresa Email">
					<br/>					 	
				<select value "numar persoane"> 
			        <option>1</option>
			        <option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
			    </select>
					<br/>	
			    <button type="submit" id="submit" class="btn-system "><p><a href=""></a></p>Send</button>
			    <div id="success"></div>
			</div>	
	</div>

    </div> 


</section>

