<section id="joker--preturi">   
     <div class="content--background">
        <h1> Preturi </h1> 
    </div> 

    <div id="content--zone"> 
        <div class="content--card"> 

	        <div class="voucher">
	    		<p>voucher voucher voucher voucher vouher voucher vouher voucher vouher voucher vouher voucher voucher voucher voucher voucher voucher voucher voucher </p>
	    	</div>
	    	<div class="clerafix"></div>
	    	<br/>
	    	<div class="reduceri">
	    		<p>HAPPY HOUR între orele 10:00 - 14:30 de luni până vineri !</p>
	    	</div>
	    	<div class="clerafix"></div>
	    	<br/>
	       
	       <div class="lista--preturi">
	       	
	       		 <div class="pret--normal">
		        	<ul>
		        		<li>Tarif standard</li>
		        		<li>1 persoana <span> X Lei</span></li>
		        		<li>2 persoane <span> X Lei</span></li>
		        		<li>3 persoane <span> X Lei</span></li>
		        		<li>4 persoane <span> X Lei</span></li>
		        		<li>5 persoane <span> X Lei</span></li>
		        	</ul>
		        </div>

		        <div class="happy--hour">
		        	<ul>
		        		<li>Tarif Happy Hour</li>
		        		<li>1 persoana <span> X Lei</span></li>
		        		<li>2 persoane <span> X Lei</span></li>
		        		<li>3 persoane <span> X Lei</span></li>
		        		<li>4 persoane <span> X Lei</span></li>
		        		<li>5 persoane <span> X Lei</span></li>
		        	</ul>
		        </div>

	       </div>
        </div>
    </div> 
</section>

