<h2> Organizare </h2> 
<table id="brideWearPay">
 	<thead>
 		<tr>
			<th>Tinuta Mireasa</th>
			<th class="all" id="bride"> <span> Lei</span> </th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Rochie</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Voal şi accesorii de păr</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Lenjerie</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Pantofi</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Bijuterii</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Coafură</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Machiaj</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Mănuşi</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Posetă</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td>Alte accesorii</td>
 			<td><input class="bride" type="text" placeholder="enter number" /></td>
 		</tr> 
 	</tbody>
</table> 

<table id="groomWearPay">
 	<thead>
 		<tr>
			<th>Tinuta Mire</th>
			<th class="all" id="groom"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Costum</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Pantofi</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Camaşă</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Vestă</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Cravată sau lavaliera</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Butoni</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Alte accesorii</td>
 			<td><input class="groom" type="text" placeholder="enter number" /></td>
 		</tr>
 	</tbody>
</table>

<table id="taxesPay">
 	<thead>
 		<tr>
			<th>Taxe</th>
			<th class="all" id="taxes"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Taxa cununie religioasă</td>
 			<td><input class="taxes" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Taxa cununie civilă</td>
 			<td><input class="taxes" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Verighete</td>
 			<td><input class="taxes" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Dosare medicale</td>
 			<td><input class="taxes" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Protocol cununie religioasa+civila</td>
 			<td><input class="taxes" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 

<table id="arrangementsPay">
 	<thead>
 		<tr>
			<th>Aranjamente florale</th>
			<th class="all" id="arrangements"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Flori şi Aranjamente</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Buchet mireasă</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Buchet naşă	</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Buchet domnişoară de onoare </td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Aranjament lumânări de cununie</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Aranjamente maşini</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Alte aranjamente</td>
 			<td><input class="arrangements" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 	  	 	 
 
<!-- <table id="invitationsPay">
 	<thead>
 		<tr>
			<th>Invitatii</th>
			<th class="all" id="invitations"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Invitaţii</td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Carduri de confirmare</td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Carduri de masă		</td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Carduri de mulţumire </td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Mărturii</td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Şervetele personalizate</td>
 			<td><input class="invitations" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table>  -->

<table id="transportPay">
 	<thead>
 		<tr>
			<th>Transport & Cazare</th>
			<th class="all" id="transport"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Închiriere masină</td>
 			<td><input class="transport" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Transport invitaţi</td>
 			<td><input class="transport" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Cazare invitaţi</td>
 			<td><input class="transport" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 
 
<table id="musicPay">
 	<thead>
 		<tr>
			<th>Muzica</th>
			<th class="all" id="music"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>DJ</td>
 			<td><input class="music" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Formatie</td>
 			<td><input class="music" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Altele</td>
 			<td><input class="music" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 

<table id="photoPay">
 	 <thead>
 		<tr>
			<th>Fotograf & Camenaman</th>
			<th class="all" id="photo"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Fotograf</td>
 			<td><input class="photo" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Cameraman</td>
 			<td><input class="photo" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Album</td>
 			<td><input class="photo" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td> Altele</td>
 			<td><input class="photo" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 


<table id="giftsPay">
 	 <thead>
 		<tr>
			<th>Cadouri</th>
			<th class="all" id="gifts"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td> Cadou pentru parinte</td>
 			<td><input class="giftsParent" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td>Cadou pentru nas</td>
 			<td><input class="giftsGodparent" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Cadou pentru invitat </td>
 			<td><input class="giftsAll" type="text" placeholder="enter number" /></td>
 		</tr>   
 	</tbody>
</table> 

<table id="otherPay">
 	 <thead>
 		<tr>
			<th>Alte Cheltuieli</th>
			<th class="all" id="other"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Porumbei</td>
 			<td><input class="other" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Petrecere Burlaci</td>
 			<td><input class="other" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Luna de Miere </td>
 			<td><input class="other" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td> Diverse </td>
 			<td><input class="other" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 



 
 