<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about--game">Despre Joc</a></li>
        <li><a href="#rooms">Camere</a></li>
        <li><a href="#">Preturi</a></li>
        <li><a href="#">Galerie</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>