<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Despre Joc</a></li>
        <li><a href="#">Camere</a></li>
        <li><a href="#">Preturi</a></li>
        <li><a href="#">Galerie</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>