<!-- <div id="lightbox_container">

	<div id="online--booking"> 
		<input type="text" name="name" id="name" value ="" placeholder="Nume si Prenume">
			<br/>				
		<input type="text" name="name" id="name" value ="" placeholder="Telefon">
			<br/>				
		<input type="text" name="name" id="name" value ="" placeholder="Adresa Email">
			<br/>					 	
		<select value "numar persoane"> 
	        <option>1</option>
	        <option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
	    </select>
			<br/>	
	    <button type="submit" id="submit" class="btn-system ">Send</button>
	    <div id="success"></div>
	</div>	
</div> -->