<h2> Petrecere </h2> 
<table id="restaurantPay">
 	 <thead>
 		<tr>
			<th>Petrecere</th>
			<th class ="all" id="restaurant"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody>
 		<tr>
 			<td>Închiriere sală	</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Închiriere personal</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td> Decorare masa mirilor</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>   
 		<tr>
 			<td> Baloane</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td> Confetii</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td> Artificii</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td> Tortul Miresei</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td> Prajituri </td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td> Fructe</td>
 			<td><input class="restaurant" type="text" placeholder="enter number" /></td>
 		</tr> 
 	</tbody>
</table> 


 
 <h2> Cheltuieli petrecere /persoana </h2> 
<table id="personPay">
 	 <thead>
 		<tr>
			<th>Per persoana</th>
			<th class ="all" id="person"> <span> Lei</span></th>
	    </tr>
 	</thead>

 	<tbody> 
 		<tr>
 			<td> Husa scaun </td>
 			<td><input class="person chair"  type="text" placeholder="enter number" /></td>
 		</tr>   
 		<tr>
 			<td> Meniu </td>
 			<td><input class="person menu" type="text" placeholder="enter number" /></td>
 		</tr>
 		<tr>
 			<td> Bautura </td>
 			<td><input class="person drink" type="text" placeholder="enter number" /></td>
 		</tr> 
 		<tr>
 			<td> Invitaţie  </td>
 			<td><input class="person invitation" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Plic de masă </td>
 			<td><input class="person cardTable" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Mărturii </td>
 			<td><input class="person cardM" type="text" placeholder="enter number" /></td>
 		</tr>  
 		<tr>
 			<td>Şervetele personalizate </td>
 			<td><input class="person napkin" type="text" placeholder="enter number" /></td>
 		</tr>  
 	</tbody>
</table> 