<section id="rooms"> 
    <div class="content--background">
        <h1>Camere</h1>
        <p>Poti avea o experienta de neuitat alaturi de noi!</p>
        <p>Viziteaza camerele noastre si fa o rezervare!</p>
    </div> 

    <div id="content--zone">
        <div class="content--card"> 
            <article class="rooms">
                <div class="card transition">
                    <h2 class="transition">Joker room</h2>
                    <p>aici pui un text foarte scurt cu ceva ceva ceva dar sa nu fiiiiieee lung text text </p>
                    <div class="cta-container transition">
                        <a href="/joker_room" class="cta">viziteaza camera !</a>
                    </div>
                    <div class="card_circle transition">
                        
                    </div>
                </div>
                <!-- <div class="card transition">
                    <h2 class="transition">second room</h2>
                    <p>aici pui un text foarte scurt cu ceva ceva ceva dar sa nu fiiiiieee lung text text </p>
                    <div class="cta-container transition">
                        <a href="#" class="cta">viziteaza camera !</a>
                    </div>
                    <div class="card_circle transition">
                        
                    </div>
                </div>
                <div class="card transition">
                    <h2 class="transition">blabla room</h2>
                    <p>aici pui un text foarte scurt cu ceva ceva ceva dar sa nu fiiiiieee lung text text </p>
                    <div class="cta-container transition">
                        <a href="#" class="cta">viziteaza camera !</a>
                    </div>
                    <div class="card_circle transition">
                        
                    </div>
                </div> -->
            </article>
        </div>
    </div> 
</section>



