@base-color: #000;
@base-color-second: #fff;
@pallete-color-blue: #1fcdff;
@pallete-color-darkblue: #179abf;
@shadow-elements: 0px 2px 0px 0px #179abf;
@shadow-form: #ccc;

@box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
@box-shadow-hover: 0 5px 6px rgba(0, 0, 0, 0.16), 0 5px 6px rgba(0, 0, 0, 0.23);