<!DOCTYPE>  
<html>  
<head>  
  <title>BASEMENT ESCAPE</title>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href="assets/css/less/imports.css" />
  
  </style> 
  

  {{{block head}}}
</head>  
  <div class="header">
    <!-- <h1>Handlebar Testing</h1> -->
  </div>
  <div class="box main">
    <!-- {{{body}}} -->
  </div>
  <div class="box sidebar">
    <!-- {{> user}}  -->
  </div>
  {{> footer}}
</html>  