<!DOCTYPE>  
<html>  
<head>  
  <title>Handlebars Test</title>
  <link rel="stylesheet" type="text/css" href="assets/css/main.compiled.css"/>
</head>  
  <div class="header">
    <h1>Handlebar Testing</h1>
  </div>
  <div class="box main">
    {{{body}}}
  </div>
  <div class="box sidebar">
    {{> user}}
  </div>
</html>  