<!DOCTYPE HTML>
<html> 
    <head>  
        <title>BASEMENT ESCAPE</title>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href="assets/css/main.compiled.css" />
        <link rel='stylesheet' href="assets/css/reset.css" />
        <link rel='stylesheet' href="assets/css/normalize.css" />
        
    </head> 
    <body>
        {{> about_us}}
        {{> footer}}
    </body>
</html>  